:root {
    --white: #e8eced;
    --darkBlue: #05293f;
    --lightBlue: #618d95;
    --red: #af3331;
    --tan: #ffe8b4;
}

* {
    font-family: "IBM Plex San", sans-serif;
    font-weight: 500;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* margin: 0;
    padding: 0; */
    background-color: var(--darkBlue);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


/*--------- list --------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.list-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0 1rem;
    color: var(--white);
    font-weight: 700;
}


/*--------- individual list items --------- */

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    background-color: var(--lightBlue);
    width: 50%;
    font-size: 1.25rem;
    border-radius: 0.8rem;
    color: white;
    &:hover {
        background-color: rgba(97, 142, 149, 0.5);
    }
}

.mutations {
    display: flex;
    gap: 0.75rem;
}

.list__status {
    /* check mark icon */
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    background: none;
    color: white;
    &:hover {
        color: var(--tan);
    }
}

.list__delete {
    /* delete icon */
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    background: none;
    color: white;
    &:hover {
        color: var(--red);
    }
}


/* --------- form --------- */

.form-body {
    display: flex;
    gap: 0.5rem;
    width: 50%;
    margin: 1rem auto;
}

.form__input {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.form__btn {
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #e3a223;
    color: var(--darkBlue);
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background-color: var(--tan);
    }
}

@media(max-width: 420px) {
    .title {
        font-size: 3.5rem;
    }
    .list-item {
        width: 95%;
        font-size: 1.1rem;
    }
    .form-body {
        width: 95%;
    }
}